@import './variables.scss';

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  font: 100% Roboto;
  background-image: url(./images/background_texture.jpg);
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  background-color: $nav-background;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10vh;
  padding-top: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}

.logo {
  width: 30vh;
  height: 15vh;
  position: absolute;
  top: -0.5vh;
  right: 0;
}

li {
  list-style: none;
}

.top-bar-border {
  background-image: url(./images/Top.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 5vh;
  width: 100%;
  top: 9vh;
  z-index: -2;
}

h1,
h2 {
  text-align: center;
}

p {
  text-align: center;
  margin: 0.35rem 0 0.5rem 0;
  padding: 0 1rem 0 1rem;
  color: rgb(80, 76, 126);
}

.bottom-bar-border {
  background-image: url(./images/Bottom.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 11vh;
  width: 100%;
  bottom: 2vh;
}

footer {
  background-color: $nav-background;
  position: fixed;
  bottom: 0;
  height: 8.5vh;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  z-index: 1000;
}

.icon {
  position: relative;
  bottom: 2vh;
  width: 8vh;
  height: 8vh;
  padding: 0;
  margin: 0 0.5rem 1rem 0.5rem;
  z-index: 1001;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

.login-information {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 15rem;
  background-color: rgba(45, 110, 230, 0.76);
  margin: 0 5rem 0 5rem;
  padding: 5rem 8.5rem 5rem 8.5rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  z-index: -1;
}

.login,
.password {
  width: 250px;
  height: 45px;
  border-radius: 0.5rem;
  margin-top: 1rem;
}

.login-title {
  color: white;
  text-align: center;
}

.login-button {
  width: 255px;
  height: 35px;
  margin-top: 2rem;
}

@media (min-width: 992px) {
  .icon {
    position: relative;
    bottom: 2vh;
    width: 8vh;
    height: 8vh;
    padding: 0;
    margin: 0 0.5rem 1rem 0.5rem;
    z-index: 1001;
  }

  .home {
    position: relative;
    left: 25rem;
  }

  .write {
    position: relative;
    right: 26rem;
  }
}
