@import './variables.scss';

:root {
  font: 16px / 1, 'Margarine', cursive;
}

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-image: url(./images/background_texture.jpg);
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
}

header {
  background-color: $header-background;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 10vh;
  z-index: 2;
}

ul {
  margin: 0;
  padding: 0;
}

.logo {
  width: 30vh;
  height: 15vh;
  position: absolute;
  top: -2.5vh;
  right: 0;
  z-index: 3;
}

li {
  list-style: none;
}

.top-bar-border {
  background-image: url(./images/Top.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 5vh;
  width: 100%;
  top: 9vh;
  z-index: 1;
}

.featured-container {
  margin-top: 20vh;
}

.library-header {
  position: relative;
  background: $header-background;
  padding: 2rem 0 2rem 0;
  bottom: 20vh;
}

h1,
h2,
h3 {
  font-family: 'Margarine', cursive;
  text-align: center;
  color: white;
}

p {
  text-align: center;
  margin: 0.35rem 0 0.5rem 0;
  padding: 0 1rem 0 1rem;
  color: rgb(80, 76, 126);
}

.bottom-bar-border {
  background-image: url(./images/Bottom.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 11vh;
  width: 100%;
  bottom: 2vh;
}

footer {
  background-color: $header-background;
  position: fixed;
  bottom: 0;
  height: 8.5vh;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0;
  z-index: 5000;
}

.icon {
  position: relative;
  bottom: 2vh;
  width: 8vh;
  height: 8vh;
  padding: 0;
  margin: 0 0.5rem 1rem 0.5rem;
  z-index: 1001;
}

.bottom-nav {
  display: flex;
  justify-content: space-around;
  margin: 0;
}

@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: row;
  }

  .featured-container {
    margin: 0;
    padding: 0;
    position: fixed;
    left: 1.5rem;
    top: 35vh;
    width: 50vw;
  }

  .library-header {
    position: relative;
    background: $header-background;
    padding: 1rem 1rem;
  }

  .library-container {
    position: relative;
    left: 52.5vw;
    top: 5vh;
    margin-top: 15rem;
  }

  .icon {
    display: none;
  }

  .home {
    position: relative;
    left: 25rem;
  }

  .write {
    position: relative;
    right: 26rem;
  }
}

@media (min-width: 1024px) {
  .library-container {
    left: 60vw;
  }
}
