@import './variables.scss';

.featured-book-container {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 0;
  margin-top: 15.5vh;
}

.featured-book-border {
  background-color: rgba(103, 148, 231, 0.589);
  border: 0.05rem solid rgb(120, 151, 209);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding-top: 1rem;
  box-shadow: -5px -5px 5px rgba(75, 75, 82, 0.164);
}

.featured-book-writeup-container {
  display: flex;
  justify-content: center;
}

.featured-book-writeup {
  background-color: rgba(241, 243, 246, 0.637);
  border-left: 0.05rem solid black;
  border-right: 0.05rem solid black;
  border-bottom: 0.05rem solid black;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  width: 41.65vh;
  padding: 0 1rem 0 1rem;
}

.featured-book {
  border-radius: 0.25rem;
  box-shadow: 5px 5px 3.5px rgb(75, 75, 82);
  height: 36vh;
  width: 25vh;
  margin: 0 2.5rem 1rem 2.5rem;
  z-index: -1;
}
