@import './variables.scss';

.login-information-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10rem;
  background-color: rgba(45, 110, 230, 0.76);
  margin: 0 2rem 0 2rem;
  padding-top: 1.5rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  h1 {
    font-size: 2rem;
  }

  section,
  button {
    margin-left: 3rem;
  }

  input {
    width: 250px;
    height: 45px;
    border-radius: 0.5rem;
    margin-top: 1rem;
  }

  a {
    padding-top: 2rem;
    text-align: center;
  }
}

.login-title {
  color: white;
  text-align: center;
}

.login-button {
  width: 255px;
  height: 35px;
  margin-top: 2rem;
}
