@import './variables.scss';

.hamburger {
  height: 4vh;
  width: 5vh;
  position: relative;
  left: 1.25vh;
  top: 1vw;
}

.navBG {
  height: 12.5vh;
  width: 13.5vh;
  position: absolute;
  bottom: -2vh;
  left: -0.25vh;
  z-index: 1;
}

.icon-container {
  display: none;
}

.top-nav {
  height: 600px;
  width: 600px;
  background: $nav-background;
  background-position: center;
  color: $color;
  -webkit-clip-path: circle(24px at 30px 24px);
  clip-path: circle(3vh at 6.25vh 6vh);
  transition: -webkit-clip-path $transition * 0.75, clip-path $transition/2;
  position: relative;
  z-index: 20;

  &:hover,
  :active {
    transition-timing-function: ease-out;
    transition-duration: 0.4s;
    -webkit-clip-path: circle(300px at 225px 24px);
    clip-path: circle(25vh at 6.25vh 9vh);
    position: relative;
    z-index: 500;
  }
}

@mixin line {
  width: 20px;
  height: 2px;
  background: $color;
}

.navicon {
  padding: 23px 20px;
  cursor: pointer;
  transform-origin: 32px 24px;

  a {
    display: block;
    line-height: 50px;
    padding: 0 20px;
    color: rgb(59, 97, 173);
    cursor: pointer;
    user-select: none;
    font-family: 'Margarine', cursive;

    &:active {
      background: #ffe082;
    }
  }

  div {
    position: relative;
    @include line;

    &:before,
    &:after {
      display: block;
      content: '';
      @include line;
      position: absolute;
    }

    &:before {
      top: -7px;
    }
    &:after {
      top: 7px;
    }
  }

  .profile-icon-container {
    margin-top: 2rem;

    .profile-icon {
      height: 6vh;
      width: 6vh;
    }
  }
}

@media (min-width: 768px) {
  .hamburger {
    left: 1.25vh;
    top: 1vh;
  }
  .icon-container {
    display: flex;
    flex-direction: row;

    .icons {
      width: 5vh;
      height: 5vh;
      padding: 0;
      margin: 0.5rem 0;
    }
  }

  .top-nav {
    &:hover,
    :active {
      clip-path: circle(300px at 10px 64px);
    }
  }
}

@media (min-width: 1024px) {
  .hamburger {
    left: 1.5vh;
    top: 0.85vw;
  }

  .top-nav {
    &:hover,
    :active {
      clip-path: circle(350px at 10px 64px);
    }
  }
}
