@import './variables.scss';

main {
  .banner-container {
    display: flex;
    justify-content: center;
  }

  .banner {
    width: auto;
    height: 13vh;
    z-index: 1;
  }

  .profile-name {
    position: relative;
    bottom: 10vh;
    z-index: 1;
  }

  .user-portrait {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 10.5vh;

    .profile-pic {
      height: 180px;
      width: 200px;
    }
  }

  section {
    position: relative;
    bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .favorites-header-container {
    padding-top: 0.5rem;
    background-color: $header-background;
  }

  h3 {
    text-align: center;
  }

  .favorite-books-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 3rem;
  }

  li {
    border-bottom: 0.05rem solid $header-background;
    border-right: 0.05rem solid $header-background;
  }

  .favorite-books-image-container {
    display: flex;
    justify-content: center;

    .favorite-books {
      margin: 2rem 0 0 1.25rem;
      height: 12rem;
      width: 8rem;

      a {
        padding: 0;
      }
    }
  }
}
