@import './variables.scss';

.list-of-books-container {
  margin: 0 0 12vh 0;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

.search {
  width: 50%;
  height: 35px;
  border-radius: 0.5rem;
  // z-index: 2;
}
